.accordion-toggle {
  display: block;
  opacity: 1;
  visibility: visible;
  height: max-content;
}

.accordion-content {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.accordion-content {
  &.active {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
}
